<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bus Stop Finder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>today extension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4910E8531CD57AF300E06389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4910E8641CD57AF400E06389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4910E86F1CD57AF400E06389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>496C5E861CF1280A004F6DD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
